.body_site_login{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

/* Login Page */
    .title{
        text-align: center;
    }

    .title_icon{
        font-size: 2em !important;
    }

    .login_page_container{
        margin: 60px auto !important;
        width: 45% !important;
        padding: 1.2em 2em 2em 2em !important;
        border: 1px solid transparent !important;
        border-color: #F2F2F2 !important;
    }

    .label_form{
        font-size: .9em !important;
    }

    .logo_font{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 4em;
        font-weight: bold;
        letter-spacing: 1px;
        display: inline-block;
        margin: 25px 5px !important;
    }

    .login_button{
        padding: 0 10px !important;
    }

    .login_form{
        display: none;
    }

    size_login_fb{
        display: inline !important;
    }

/* Side Bar */
    header, main, footer {
        padding-left: 280px !important;
    }
    .side-nav{
        width: 280px !important;
    }

    .search_top_left{
        height: 54px!important;
        line-height: 54px !important;
        background-color: #e66a6e;
        box-shadow: 0 0 0 0;
        padding: 0 15px !important;
    }

    .search_nest{
        width: 80% !important;
        display: inline-block !important;
        position: relative;
        float: left;
    }

    .input_search{
        margin: 0 !important;
        width: 100% !important;
        border: none !important;
        color: white;
    }

    .search_icon{
        line-height: 54px !important;
        float: right !important;
        font-size: 26px !important;
        color: white !important;
        font-weight: 100 !important; 
    }

    .user_bio{
        height: 54px!important;
        line-height: 54px !important;
        box-shadow: 0 0 0 0;
        padding: 0 15px !important;
    }

    .user_image{
        width: 40px !important;
        padding: 7px 0 0 0;
        display: inline-block;
        float: left;
    }

    .user_image img{
        display: block;
        width: 100%;
        border-radius: 50%;
    }

    .user_name_nest{
        display: inline-block;
    }

    .user_name_font{
        font-size: 1em;
        margin-left: 17px;
        color: rgba(0,0,0,0.87);
        font-weight: 400;
    }

    .a_list_home_side_bar{
        padding: 0 10px !important;
    }

    .side_bar_icons_li{
        margin: 0 10px 0 0 !important;
    }

    .side_bar_icons_edit{
        float: right !important;
        margin: 0 !important;
        font-size: 1.4em !important; 
    }

    .user_bio_add{
        float: right !important;
        line-height: 54px !important;
    }

    .footer_sidebar{
        bottom: 60px !important;
        position: absolute !important;
        left: 0 !important;
        width: 100%;
        margin: 0 !important;
    }

    .ul_sidebar_top{
        margin: -8px 0 0 0;
    }

    .a_list_home_side_bar_bot{
        padding: 0 10px !important;
        font-size: 1em !important;
        font-weight: 300 !important;
    }

/* Home */
    nav{
        height: 54px !important;
        line-height: 54px !important;
        padding: 0 1em !important;
        box-shadow: 0 0 0 0 !important;
    }